body {
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #eeffee;
}

.canvas {
    margin-top: 100px;
    border: solid 1px;
    border-radius: 0.5em;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
    gap: 10px;
}

/* .display {
    border: solid 1px;
    margin-top: 20px;
    padding: 10px;
} */

.display {
    margin-top: 20px;
    border: solid 1px;
    border-radius: 0.5em;
    padding: 10px;
    min-width: 200px;
    text-align: right;
}


.top-buttons {
    display: flex;
    /* flex-direction: row; */
}

.top-buttons > .clear {
    margin-right: auto;
}

