body {
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #eeffee;
}

.canvas {
    margin-top: 100px;
    border: solid 1px;
    padding-left: 100px;
    padding-right: 100px;
}

